


async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
colorama
dataclasses-json
decorator
docx2txt
faiss-cpu
filelock
frozenlist
fsspec
gitdb
gitpython
greenlet
huggingface-hub
idna
importlib-metadata
jinja2
jsonschema-specifications
jsonschema
langchain
langchainplus-sdk
markdown-it-py
markupsafe
marshmallow-enum
marshmallow
mdurl
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pycryptodome
pydantic
pydeck
pygments
pympler
pymupdf
python-dateutil
python-dotenv
pytz-deprecation-shim
pytz
pyyaml
openpyxl
referencing
regex
requests
rich
rpds-py
safetensors
six
smmap
sqlalchemy
streamlit
pandas
numpy
streamlit
streamlit-chat
openai
redis
requests
tiktoken
pdftotext
pdf_extractor
pillow
tenacity
tiktoken
tokenizers
toml
toolz
tornado
tqdm
transformers
typing-extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
streamlit
